.background-image {
    background-image: url("../../assets/images/desktop1.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.aqua-marker {
    height: 100%;
    border-radius: 10px;
    background-color: rgba(206, 209, 223, 0.68);
}

.text-center {
    text-align: center;
}

.position-letter {
    position: absolute;
    left: 50%;
    top: 40%;
    color: white;
}

.position-login {
    position: absolute;
    left: 65%;
    top: 52%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: right;
}