<div class="backgroun-image">
    <div class="aqua-marker">
        <div class="container">
            <div class="row">
                <div class="col s6 position-letter">
                    <h1>{{title}}</h1>
                </div>
                <div class="col 5 offset-s1 position-login">
                    <!--<div class="g-signin2" data-onsuccess="onSignIn"></div>

                    <button (click)="socialSignIn('google')">Sign in with Google</button> -->
                </div>
            </div>
        </div>
    </div>
</div>