.dashboard-frame {
    position: absolute;
    box-shadow: 0 20px 30px rgb(24, 88, 131);
    border: 2px solid #4975d4;
    width: 96%;
    height: 95%;
    margin: 0;
    padding: 0 0 10px 0;
    box-sizing: border-box;
    overflow: hidden;
}

.dashboard-frame span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
}

.dashboard-frame span:nth-child(1) {
    transform: rotate(0deg);
}

.dashboard-frame span:nth-child(2) {
    transform: rotate(90deg);
}

.dashboard-frame span:nth-child(3) {
    transform: rotate(180deg);
}

.dashboard-frame span:nth-child(4) {
    transform: rotate(270deg);
}

.span:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #50dfdb;
    animation: animate 4s linear infinite;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background: #111845a6;
    box-shadow: 0 20px 30px rgb(57, 214, 57);
    border: 2px solid #2a3cad;
    color: white;
    padding: 20px;
}

@keyframes animate {
    0% {
        transform: scaleX(0);
        transform-origin: left;
    }
    50% {
        transform: scaleX(1);
        transform-origin: left;
    }
    50.1% {
        transform: scaleX(1);
        transform-origin: right;
    }
    100% {
        transform: scaleX(0);
        transform-origin: right;
    }
}

.title-home {
    font-size: 1.5em;
    text-align: left;
    margin-left: 1em;
}

.dashboard-frame hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.avatar-image {
    text-align: right;
    margin-top: -3em;
    cursor: pointer;
}

.dashboard {
    border: 2px solid #2a3cad;
    width: 81em;
    height: 38em;
    margin-left: 2em;
}

.carousel-image {
    margin-top: 10em;
    width: 30em;
    height: 25em;
}