<!-- https://codepen.io/uiswarup/pen/RBByzW -->
<div class="home-backg">

    <div class="navbar-fixed">
        <ul id="dropdown1" class="dropdown-content dropdown-size">
            <div *ngIf="userName; then dropdownUser  else dropdown">Ignored</div>
            <ng-template #dropdownUser>
                <li><a>{{userName}}</a></li>
                <li><a>Editar cuenta</a></li>
                <li class="divider"></li>
                <li><a href="#!">Cerrar sesión</a></li>
            </ng-template>
            <ng-template #dropdown>
                <a class="waves-effect waves-light btn" (click)="socialSignIn('google')">Sign in </a>
            </ng-template>
        </ul>

        <ul id="dropdown1" class="dropdown-content dropdown-size">
            <li><a>{{userName}}</a></li>
            <li>
                <a class="waves-effect waves-light btn" (click)="socialSignIn('google')"><i class="material-icons left">account_circle</i>Sign in with Google</a>
            </li>
        </ul>

        <nav>
            <div class="nav-wrapper nav-color">
                <img src="../../assets/images/bbva_next_logo.png" id="img-next" alt=""> <a class="brand-logo">QuickBoard</a>
                <ul class="right hide-on-med-and-down">
                    <li><a><i class="material-icons">search</i></a></li>
                    <li><a><i class="material-icons ">view_module</i></a></li>
                    <li>
                        <a class="dropdown-trigger" data-target="dropdown1">
                            <i class="material-icons right">account_circle</i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="dashboard-frame">
        <div class="carousel " data-indicators="true">
            <a class="carousel-item carousel-image " data-position="bottom" data-tooltip="Inmuebles"> <img src="../../assets/images/apartment.jpg"></a>
            <a class="carousel-item carousel-image" data-position="bottom" data-tooltip="Formaciones"><img src="../../assets/images/apple-businesswoman-coding-7375.jpg"></a>
            <a class="carousel-item carousel-image" data-position="bottom" data-tooltip="Avisos Next"><img src="../../assets/images/american-blond-hair-board-1488035.jpg"></a>
            <a class="carousel-item carousel-image" data-position="bottom" data-tooltip="Actividades"><img src="../../assets/images/action-activity-adults-1246953.jpg"></a>
        </div>

        <div *ngIf="userName" class="add-note-position">
            <a class="btn-floating btn-large waves-effect waves-light blue modal-trigger" href="#modal1"><i class="material-icons">add</i></a>
        </div>


    </div>
</div>


<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Agregar anuncio</h4>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <input placeholder="Titulo de nota" id="title" type="text" class="validate">
                        <label for="title">Titulo</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s8">
                        <textarea name="description" id="" cols="30" rows="10" class="validate textarea-note"></textarea>
                        <label for="description">Descripción</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s2 m1">
                        Categoria:
                    </div>
                    <div class="input-field col s4 m6 offset-m1">
                        <select class="icons">
                              <option value="" disabled selected>Elige una opción</option>
                              <option value="" data-icon="../../assets/images/apartment.jpg">Inmuebles</option>
                              <option value="" data-icon="../../assets/images/apple-businesswoman-coding-7375.jpg">Formaciones</option>
                              <option value="" data-icon="../../assets/images/action-activity-adults-1246953.jpg">Actividades</option>
                              <option value="" data-icon="../../assets/images/american-blond-hair-board-1488035.jpg">Avisos next</option>
                            </select>
                    </div>

                </div>
                <div class="row">
                    <div class="input-field col s8">
                        <div id="test-slider"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <p>Mostrar: </p>
                        <p>
                            <label>
                                  <input type="checkbox" />
                                  <span>Número personal</span>
                                </label>
                        </p>
                        <p>
                            <label>
                                  <input type="checkbox" />
                                  <span>Correo personal</span>
                                </label>
                        </p>
                        <p>
                            <label>
                                  <input type="checkbox" />
                                  <span>Correo BBVA</span>
                                </label>
                        </p>
                        <p>
                            <label>
                                    <input type="checkbox" />
                                    <span>Lugar de trabajo</span>
                                </label>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-close waves-effect waves-green btn-flat">Agree</a>
        <a class="btn-floating btn-large waves-effect waves-light red modal-trigger">Cancelar</a>
    </div>
</div>
<!-- Close modal Structure-->