<div class="dashboard-frame">
    <!-- https://codepen.io/uiswarup/pen/RBByzW -->
    <div class="header">
        <p class="title-home">
            {{title}}
        </p>
        <p class="avatar-image" (click)=userOptions()>
            User
        </p>
        <div>
            <hr/> </div>
    </div>

    <div class="dashboard">
        <div class="carousel">
            <a class="carousel-item carousel-image"><img src="../../assets//images/apartment.jpg"></a>
            <a class="carousel-item carousel-image"><img src="../../assets//images/apartment.jpg"></a>
            <a class="carousel-item carousel-image"><img src="../../assets//images/apartment.jpg"></a>
            <a class="carousel-item carousel-image"><img src="../../assets//images/apartment.jpg"></a>
            <a class="carousel-item carousel-image"><img src="../../assets//images/apartment.jpg"></a>
        </div>
    </div>

</div>